.missiontout {
  display:flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.missionblurb {
  padding-left: 1rem;
}

.card {
  height: 15rem;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 6px 6px 0 rgb(0, 0, 0);
  border: 1px solid teal;
}
