.stage-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}

.stage-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.stage-title .stage-title-addendum {
  color: rgb(188, 188, 188);
  font-size: 1.5rem;
  font-weight: 500;
}
