.about {
  max-width: 800px;
  margin: 75px auto 0;
}

.aboutimg {
  width: 100%;
  border: 1px solid white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.preview-video {
  max-width: 100%;
}

.preview-video-wrapper {
  padding: 30px 0;
}

@media screen and (min-width: 540px) {
  .preview-video-wrapper {
    padding: 60px 0;
  }
}

@media screen and (min-width: 768px) {
  .preview-video-wrapper {
    padding: 90px 0;
  }
}

@media screen and (min-width: 768px) {
  .about {
    margin: 150px auto 100px;
  }
}
