.intro {
  padding-top: 50px;
  padding-bottom: 25px;
}

@media screen and (min-width: 600px) {
  .intro {
    padding-top: 75px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 900px) {
  .intro {
    padding-top: 150px;
    padding-bottom: 50px;
  }
}
