.profile-page {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-color: white;
  margin-top: 62px;
}

@media screen and (min-width: 768px) {
  .profile-page {
    grid-template-columns: 1fr 2fr;
  }
}
