/* -- Avatar -- */
.avatar {
  margin-left: -15px;
}

.avatar:first-child {
  margin-left: 0;
}

/* -- Avatar Row -- */
.avatar-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar-row .avatar-label {
  padding-bottom: 0;
  text-transform: uppercase;
}
