.chonky {
  position: relative;
}

@media screen and (max-width: 900px) {
  .chonky {
    margin-top: -50px;
  }

  .explorers {
    display: none;
  }
}

.explorers {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 80%;
  opacity: 0.6;
}

@media screen and (min-width: 900px) {
  .astronaut {
    margin-left: 100px;
    margin-top: -100px;
  }
}

.progress {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 280px;
  display: flex;
  align-items: flex-end;
}

.progress svg {
  margin-left: 10px;
}
