.container {
  min-height: 80vh;
}

.h1 {
  font-size: 10vmin;
}

h2.h2 {
  color: #ddd;
  margin: 1rem 0 2rem;
}

.floating {
  margin-top: -100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
