.hero {
  padding: 120px 1.5rem 0;
  background: url(@public/homepage-bk.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
  color: #000000;
}

@media screen and (min-width: 900px) {
  .hero {
    padding: 150px 3rem 0;
  }
}

.hero h1 {
  font-size: 60px;
  font-weight: bold;
  color: black;
  margin-bottom: 2rem;
}

.hero h2 {
  font-size: 30px;
  font-weight: normal;
  color: black;
}

.hero-contain {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-column-gap: 30px;
  min-height: 50vh;
}

@media (min-width: 1000px) {
  .hero {
    padding-bottom: 60px;
  }

  .hero-contain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    min-height: 50vh;
  }
}
