.astronaut-contain {
  height: 100%;
  width: 100%;
  max-width: 525px;
  justify-self: center;
}

@media screen and (min-width: 1000px) {
  .astronaut-contain {
    position: absolute;
    bottom: 0;
    right: 20%;
    justify-self: end;
  }
}
