.banner {
  background: hsl(174, 98%, 18%);
  color: white;
  margin: 1rem 0;
  padding: 0.5rem 1vw 0.8rem;
  text-align: left;
  border-radius: 5px;
  border: 2px solid hsl(167, 100%, 41%);
}

.link {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}
