.container {
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: 1fr;
  height: 400px;
  margin-top: 0;
  line-height: 2;
  font-size: 16px;
  text-align: left;
}

.tracker-svg {
  margin-top: 3px;
}

.tracker-select {
  cursor: pointer;
}

.task-label {
  text-align: right;
  padding-right: 0.5rem;
  display: block;
}

.task-label a {
  color: white;
}

.task-label a:hover {
  text-decoration: underline;
}

.is-current-task {
  font-weight: 600;
}
