.container {
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: 1fr;
  height: 400px;
  width: 400px;
  line-height: 2;
  font-size: 16px;
  text-align: left;
}

.trackersvg {
  margin-top: 3px;
}

.trackerselect {
  cursor: pointer;
}

.missionTrackerText {
  text-align: right;
  padding-right: 0.5rem;
}
