.container {
  margin: 60px 120px;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 1fr;
  height: 400px;
  width: 400px;
  line-height: 2;
  font-size: 16px;
  text-align: left;
}
  
.trackersvg {
  margin-top: 3px;
}
  
.trackerselect {
  cursor: pointer;
}