.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10000;
}

.modal-content {
  padding: 3rem;
  background-color: black;
  border: 5px solid #ccc;
  z-index: 100000;
  text-align: center;
  position: relative;
}

.modal-heading {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: -5px;
  padding-bottom: 0.5rem;
}

.modal-close {
  position: absolute;
  color: white;
  right: 5px;
  top: 10px;
  background-color: black;
  border: 0;
}

.icon-award {
  font-size: 4rem;
  padding: 0;
}

.replay-button {
  display: block;
  background-color: black;
  color: white;
  font-size: 0.6rem;
  border: 0;
  margin: 1rem auto 0;
}

.replay-button:hover {
  text-decoration: underline;
  cursor: pointer;
}
