.main {
  width: 100%;
  min-height: calc(100vh - 62px);
  background: #eee;
  padding: 60px;
  color: black;
  font-size: 15px;
}

.section {
  max-width: 700px;
}

.profilecard {
  width: 100%;
  padding: 20px 20px 25px;
  box-shadow: 10px 10px 20px #e0e0e0, -5px -5px 10px #ffffff;
  margin-bottom: 30px;
}

h4.profileh4 {
  color: #888;
}
