.achievementcontainer {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.achievementcontainer:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.title {
  text-transform: uppercase;
  color: teal;
  margin-left: 0.5rem;
}

.description {
  color: #888;
  padding: 0.5rem;
}

.btnclaim {
  background-color: rgb(105, 103, 103);
  color: white;
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  border-style: hidden;
  text-transform: uppercase;
}

.btnclaimed {
  background-color: grey;
  color: white;
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  border-style: hidden;
  text-transform: uppercase;
}

.discount {
  margin-left: 0.5rem;
  cursor: copy;
  color: #888;
  padding: 0.5rem;
  text-align: center;
  font-size: 1em;
  border-radius: 0.3rem;
  background-color: rgb(228, 228, 228);
  text-transform: uppercase;
  border-color: rgb(195, 195, 195);
  border-style: solid;
  border-width: thin;
}
.link {
  color: #888;
  font-weight: bold;
  text-decoration: underline;
}
