.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  width: 100%;
  background: #1f2125;
  font-size: 15px;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: none;
}

.section-item {
  flex: 1;
  padding: 0;
}
.achievement {
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .sidebar {
    display: block;
    width: 100%;
    background: #1f2125;
    padding: 60px 40px;
    font-size: 15px;
    text-align: center;
    min-height: 100vh;
  }

  .section {
    flex-direction: column;
    max-width: 400px;
    float: right;
  }
}

.username {
  letter-spacing: 0.06rem;
  margin-bottom: 0.5rem;
}

h4.usertitle {
  margin-top: 0;
}

h4.accreditation {
  margin-top: 0;
  margin-bottom: 10px;
}

.hr {
  margin-top: 40px;
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
