.activity {
  padding: 50px 50px 150px;
  background: #eee;
  height: 400px;
  width: 600px;
  position: relative;
}

.activitychart {
  position: absolute;
  width: 100%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.2) 0%,
    black 100%
  );
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, black 100%);
}
