.svg {
  width: 50%;
  margin: 0 auto;
  display: table;
}

.offset1 {
  stop-color:#252629;
  stop-opacity: 1;
}

.offset1 {
  stop-color: #2b2c2e;
  stop-opacity: 1;
}

.offset3 {
  stop-color: var(--color-pink);
  stop-opacity: 1;
}

.offset4 {
  stop-color: var(--color-purple);
  stop-opacity: 1;
}

.stroke {
  fill: none;
  stroke-width: 5px;
  stroke-dasharray: 200;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}