.card {
  height: 350px;
  position: relative;
  box-shadow: 2px 6px 6px 0 rgb(0, 0, 0);
  border: 1px solid teal;
  font-size: 13px;
}

.cardinfo {
  background: #000;
  width: 100%;
  padding: 10px 15px 15px;
  position: absolute;
  z-index: 200;
  height: 150px;
  bottom: 0;
}

.carddescription {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.carddescription h3 {
  margin-top: 8px;
}

.cardbutton {
  position: absolute;
  right: 10px;
  bottom: 20px;
}
